<div class="container-fluid bg-master-lighter ">
    <div class="timeline-container top-circle">
        <section class="timeline" >
            <div class="timeline-block">
                <div class="timeline-point small">
                </div>
                <div class="timeline-content">
                    <div class="card social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header notification-header clearfix">
                            <div class="user-pic">
                                <img alt="Profile Image" width="33" height="33" src2x="assets/img/profiles/1x.jpg" pgRetina src1x="assets/img/profiles/1.jpg" src="assets/img/profiles/1x.jpg">
                            </div>
                            <h5>Karen Druid</h5>
                            <h6>New Position
                                <span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
                            </h6>
                            <span class="circle-black-point"><i class="fa fa-circle"></i></span>
                        </div>
                        <div class="card-description notification-content">
                            <p>"Started new position as <a href="javascript:void(0)">Head of Global Sales</a> at SalesForce."</p>
                            <div class="via">via Twitter</div>
                        </div>
                    </div>
                    <div class="event-date notification-event-date">
                        <!-- <h6 class="font-montserrat all-caps hint-text m-t-0">Apple Inc</h6> -->
                        <small class="fs-12 hint-text">few sec ago</small>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-point small">
                </div>
                <div class="timeline-content">
                    <div class="card  social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header notification-header clearfix">
                            <div class="user-pic">
                                <img alt="Profile Image" width="33" height="33" src2x="assets/img/profiles/3x.jpg" pgRetina src1x="assets/img/profiles/3.jpg" src="assets/img/profiles/3x.jpg">
                            </div>
                            <h5>Lisa Banter</h5>
                            <h6>New Company
                                <span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
                            </h6>
                            <span class="circle-black-point"><i class="fa fa-circle"></i></span>
                        </div>
                        <div class="card-description notification-content">
                            <p>"Move to  <a href="javascript:void(0)">Oracle Corp</a> as Chief Financial Officer."</p>
                        </div>
                    </div>
                    <div class="event-date">
                        <small class="fs-12 hint-text">5 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-point warning">
                   <i class="pg pg-mail"></i>
                </div>
                <div class="timeline-content">
                    <div class="card social-card share full-width ">
                        <div class="card-header clearfix">
                            <h5 class="text-warning-dark pull-left fs-12">Email Finder<i class="fa fa-circle text-warning-dark fs-11"></i></h5>
                            <div class="pull-right small hint-text">
                                5,345 <i class="pg pg-mail"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description notification-content">
                            <h5 class='hint-text no-margin'>Your list is ready</h5>
                        </div>
                    </div>
                    <div class="event-date notification-event-date">
                        <small class="fs-12 hint-text">20 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-point small">
                </div>
                <div class="timeline-content">
                    <div class="card  social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header notification-header clearfix">
                            <div class="user-pic">
                                <img alt="Profile Image" width="33" height="33" src2x="assets/img/profiles/2x.jpg" pgRetina src1x="assets/img/profiles/2.jpg" src="assets/img/profiles/2x.jpg">
                            </div>
                            <h5>John Baker</h5>
                            <h6>New Position NYC, New York</h6>
                            <span class="circle-black-point"><i class="fa fa-circle"></i></span>
                        </div>
                        <div class="card-description notification-content">
                            <p>"Started new position as  <a href="javascript:void(0)">Marketing Manager</a> at Enormous Rivers Inc."</p>
                        </div>
                    </div>
                    <div class="event-date">
                        <small class="fs-12 hint-text">1 hour ago</small>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-point small">
                </div>
                <div class="timeline-content">
                    <div class="card social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header notification-header clearfix">
                            <div class="user-pic">
                                <img alt="Profile Image" width="33" height="33" src2x="assets/img/profiles/4x.jpg" pgRetina src1x="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg">
                            </div>
                            <h5>Sean Kasper</h5>
                            <h6>New Company NYC, New York
                            </h6>
                            <span class="circle-black-point"><i class="fa fa-circle"></i></span>
                        </div>
                        <div class="card-description notification-content">
                            <p>"Moved to <a href="javascript:void(0)">Wells Fargo</a> at IT Manager."</p>
                        </div>
                    </div>
                    <div class="event-date notification-event-date">
                        <small class="fs-12 hint-text">2 hours ago</small>
                    </div>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-point warning">
                    <i class="pg pg-mail"></i>
                </div>
                <div class="timeline-content">
                    <div class="card  social-card share full-width">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-header clearfix">
                            <h5 class="text-warning-dark pull-left fs-12">Email Checker<i class="fa fa-circle text-warning-dark fs-11"></i></h5>
                            <div class="pull-right small hint-text">
                                1,345 <i class="pg pg-mail"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description notification-content">
                            <h5 class='hint-text no-margin'>Your list is ready</h5>
                        </div>
                    </div>
                    <div class="event-date">
                        <small class="fs-12 hint-text">17 January 2015, 06:50 PM</small>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>