.notification-header {
	text-align: center;
	border-bottom: 1px solid #e9f5fe !important;

	.circle-black-point {
		position: absolute;
    	margin-left: 235px;
    	margin-top: -30px;
    	color: #000;
    	font-size: 7px;
	}
}

.notification-event-date {
	text-align: center;
}

.notification-content {
	text-align: center;
}