<div class="container-fluid">
	<div class="card card-transparent m-t-50 account-settings">
    	<pg-tabset tabAnimation="slide-left" Type="simple" TabPosition="left">
		   	<pg-tab>
		      	<ng-template #TabHeading>
		         	Notifications
		      	</ng-template>
		      	<div class="col-lg-6 offset-lg-3">
		      		<div class="checkbox check-success" *ngFor="let option of checkboxOptions">
		      			<input id="{{option.id}}" type="checkbox" value="1" (click)="checkNotification()">
		      			<label for="{{option.id}}">{{option.label}}</label>
		      		</div>
		      	</div>
		      	<div class="col-lg-6 offset-lg-3 m-t-20">
		      		<pg-switch [ngModel]="unsubscribe" [Size]="'small'" [Color]="'primary'" [ngModel]="unsubscribe" (click)="toogleUnsubscribe()"></pg-switch>
		      		<label class="m-l-10">Unsubscribe All</label>
		      	</div>
		      	<div class="col-lg-12" style="opacity: 0;">
	            	<p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...you can use Squarespace's visual interface to customize your......................</p>
	            	<br>
	         	</div>
		   	</pg-tab>
		   	<pg-tab>
		      	<ng-template #TabHeading>
		         	My Tags
		      	</ng-template>
		      	<div class="row settings-tag">
		         	<div class="col-lg-5 offset-lg-3">
		         		<input type="text" class="form-control" placeholder="Search tags..." id="search_tag" name="search_tag">
			      	</div>
			      	<div class="col-lg-6 offset-lg-3 m-t-15" style="font-weight: 600;">
			      		<span class="m-l-15">Tag name</span><span class="m-l-5"><i class="pg pg-arrow_maximize"></i></span>
			      	</div>
			      	<div class="col-lg-5 offset-lg-3 tag-name m-t-15">
			      		<ul>
			      			<li *ngFor="let name of tagNames">
			      				<span class="m-l-15">{{name}}</span>
			      				<span class="m-l-30"><i class="fa fa-pencil"></i></span>
			      				<span class="tag-remove-icon"><i class="fa fa-remove"></i></span>
			      			</li>
			      		</ul>
			      	</div>
			      	<div class="col-lg-12" style="opacity: 0;">
		            	<p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...you can use Squarespace's visual interface to customize your......................</p>
		            	<br>
		         	</div>
		      	</div>
		   	</pg-tab>
		   	<pg-tab>
		      	<ng-template #TabHeading>
		         	Deleting People Data
		      	</ng-template>
		      	<div class="row">
		      		<div class="col-lg-6 offset-lg-2">
		      			<p style="font-size: 13px;">Permanently delete any user or lead and their conversation history from intercom to comply with European data protection laws (GDPR). You can search for active users, leads, or people you've already archived from your people list.</p>
		      		</div>
		      		<div class="col-lg-6 offset-lg-2 m-t-20">
		      			<p style="font-weight: 600; color: #000;">Find a Lead</p>
		      		</div>
		      		<div class="col-lg-6 offset-lg-2">
		      			<p>Enter their email address</p>
		      		</div>
		      		<div class="col-lg-6 offset-lg-2" style="display: inline-flex;">
	      				<input type="text" class="form-control" style="width: 60%;" placeholder="Search tags..." id="search_tag" name="search_tag">
	      				<button class="btn btn-primary m-l-10">Find Lead</button>
		      		</div>
		         	<div class="col-lg-12" style="opacity: 0;">
		            	<p>A style represents visual customizations on top of a layout. By editing a style, you can use Squarespace's visual interface to customize your...you can use Squarespace's visual interface to customize your......................</p>
		            	<br>
		         	</div>
		      	</div>
		   	</pg-tab>
		</pg-tabset>
  	</div>
</div>
