.campaign-setup .row {
	text-align: center;
	.paper-plane {
		font-size: 110px;
	}
}

.campaign-table {
	margin-top: 100px;
	// .table.table-hover.ngx-datatable {
	// 	overflow: auto;
	// }
}

.campaign-setup {
	margin-top: 200px;
}