<div class="container-fluid">
	<div class="card card-transparent m-t-50">
    	<pg-tabset tabAnimation="slide-left" Type="simple" TabPosition="left">
		   	<pg-tab>
		      	<ng-template #TabHeading>
		         	Planes
		      	</ng-template>
		      	<div class="row">
		      		
		         	<div class="col-lg-6 offset-lg-3 plan-toogle m-t-40">
		            	<form [formGroup]="planForm" class="form-inline">
                          	<div class="btn-group" btnRadioGroup formControlName="radio">
                            	<label btnRadio="A" class="btn month btn-primary plan-btn" (click)="toggleButton('month')">Monthly</label>
                            	<label btnRadio="B" class="btn annual plan-btn" (click)="toggleButton('annual')">Annual</label>
                          	</div>
                      	</form>
                  		<p class="pull-right currency-btn">
                  			<button type="button" class="btn btn-success">USD</button>
                  		</p>
		         	</div>

		      		<div class="col-lg-6 offset-lg-3 m-t-40">
		         		<ul class="plan-details monthly-plan">
		         			<li>
		         				<div class="details-box">
		         					<div class="checkbox ">
		         						<input id="checkbox_no_brainer" type="checkbox" value="1">
		         						<label for="checkbox_no_brainer"></label>
		         					</div>
		         					<div class="title-details">
		         						<span class="plan-title">NO-BRAINER</span>
		         						<br>
		         						<span class="text-plan-details">plan details</span>
		         					</div>
		         					<p class="plan-price">$10</p>
		         				</div>
		         			</li>
		         			<li>
		         				<div class="details-box">
		         					<div class="checkbox ">
		         						<input id="checkbox_startup" type="checkbox" value="1">
		         						<label for="checkbox_startup"></label>
		         					</div>
		         					<div class="title-details">
		         						<span class="plan-title">STARTUP</span>
		         						<br>
		         						<span class="text-plan-details">plan details</span>
		         					</div>
		         					<p class="plan-price">$25</p>
		         				</div>
		         			</li>
		         			<li>
		         				<div class="details-box">
		         					<div class="checkbox ">
		         						<input id="checkbox_growth" type="checkbox" value="1">
		         						<label for="checkbox_growth"></label>
		         					</div>
		         					<div class="title-details">
		         						<span class="plan-title">GROWTH</span>
		         						<br>
		         						<span class="text-plan-details">plan details</span>
		         					</div>
		         					<p class="plan-price">$75</p>
		         				</div>
		         			</li>
		         		</ul>
		         	</div>
		         	<div class="col-lg-6 offset-lg-3 m-t-30">
			         	<div class="coupon">
			            	<span>ENTER COUPON</span>
			            	<br>
			            	<input type="text" name="">
			         	</div>
			        </div>
		         	<div class="col-lg-6 offset-lg-3 m-t-40">
		            	<p class="pull-right">
		               		<button type="button" class="btn btn-default btn-cons plan-previous-btn">Previous</button>
		               		<button type="button" class="btn btn-success btn-cons">Next</button>
		            	</p>
		         	</div>

		      		<div class="col-lg-6 offset-lg-3 billing-invoice" style="opacity: 0; height: 5px;">
		      			<span class="invoice-history-title">Invoice History</span><br>
		      			<div class="">
	                        <table class="table invoice-history-table">
	                            <thead>
	                                <tr>
	                                    <th scope="col">ID</th>
	                                    <th scope="col">Date</th>
	                                    <th scope="col">Amount</th>
	                                    <th scope="col"></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let history of invoiceHistoryList">
	                                    <td>INV{{history.invoicenum}}</td>
	                                    <td>{{history.date}}</td>
	                                    <td>
	                                    	<span><i class="fa fa-check paid-status"></i></span>
	                                    	<span class="m-l-5 invoice-amount">${{history.amount.toFixed(2)}}</span>
	                                	</td>
	                                    <td><a href="javascript:void(0)" class="download-invoice"><u>Download invoice</u></a></td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
		      		</div>
		      	</div>
		   	</pg-tab>
		   	<pg-tab>
		      	<ng-template #TabHeading>
		         	Invoices
		      	</ng-template>
		      	<div class="row">
		      		<div class="col-lg-6 offset-lg-3 billing-invoice">
		      			<span>Company name</span><br>
		      			<input type="text" name="company_name" [ngModel]="companyName" *ngIf="!editableCompanyName; else save_company_name" disabled><br>
		      			<ng-template #save_company_name>
		      				<input type="text" name="company_name" [ngModel]="companyName">
		      			</ng-template>
		      			<a href="javascript:void(0)" (click)="editCompanyName()" *ngIf="!editableCompanyName; else save_action_company_name"><u>Edit company name</u></a>
		      			<ng-template #save_action_company_name>
		      				<a href="javascript:void(0)" (click)="saveCompanyName()"><u>Save company name</u></a>
		      			</ng-template>
		      		</div>

		      		<div class="col-lg-6 offset-lg-3 billing-invoice m-t-30">
		      			<span>Billing email</span><br>
		      			<input type="text" name="billing_email" [ngModel]="billingEmail" *ngIf="!editableBillingEmail; else save_billing_email" disabled><br>
		      			<ng-template #save_billing_email>
		      				<input type="email" name="company_name" [ngModel]="billingEmail">
		      			</ng-template>
		      			<a href="javascript:void(0)" (click)="editBillingEmail()" *ngIf="!editableBillingEmail; else save_action_billing_email"><u>Edit billing email</u></a>
		      			<ng-template #save_action_billing_email>
		      				<a href="javascript:void(0)" (click)="saveBillingEmail()"><u>Save billing email</u></a>
		      			</ng-template>
		      		</div>

		      		<div class="col-lg-6 offset-lg-3 billing-invoice m-t-30">
		      			<span>Invoice notifications</span><br>
		      			<input id="invoice_notification" type="checkbox" value="1">
		      			<label for="invoice_notification" class="m-l-5">Notify john@oracle.com of new invoices by email</label>
		      		</div>

		      		<div class="col-lg-6 offset-lg-3 billing-invoice m-t-30">
		      			<span>Billing details</span><br>
		      			<button type="button" class="btn btn-default btn-cons plan-previous-btn m-t-10">Add billing details</button><br>
		      			<p>If you need to add a billing address or a tax ID to your invoice, you can do so here</p>
		      		</div>

		      		<div class="col-lg-6 offset-lg-3 billing-invoice m-t-30">
		      			<span class="invoice-history-title">Invoice History</span><br>
		      			<div class="">
	                        <table class="table invoice-history-table">
	                            <thead>
	                                <tr>
	                                    <th scope="col">ID</th>
	                                    <th scope="col">Date</th>
	                                    <th scope="col">Amount</th>
	                                    <th scope="col"></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let history of invoiceHistoryList">
	                                    <td>INV{{history.invoicenum}}</td>
	                                    <td>{{history.date}}</td>
	                                    <td>
	                                    	<span><i class="fa fa-check paid-status"></i></span>
	                                    	<span class="m-l-5 invoice-amount">${{history.amount.toFixed(2)}}</span>
	                                	</td>
	                                    <td><a href="javascript:void(0)" class="download-invoice"><u>Download invoice</u></a></td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
		      		</div>

		      	</div>
		   	</pg-tab>
		</pg-tabset>
  	</div>
</div>
