.email-finder {
	border: 1px solid #e3e6e7;
}

.credit-section {
	height: 450px;
	margin-top: 55px;	
}

.text-section {
	height: 50px;
}

.drag-drop-csv {
	height: 300px;
}

.buy-credit-btn {
    float: right;
    margin-right: 150px;
    margin-top: 50px;
}

.show-count {
	display: inline-flex;
}

.credit-count {
	text-align: center;
    margin-left: 25px;
    margin-top: 30px;
}

.credit-status {
    color: #5b8ca5;
}

.separator {
	width: 90%;
    height: 1px;
    color: #f1f4f5;
    background: #f1f4f5;
    position: absolute;
    margin-top: 60px;
}

.col-lg-8 {
	text-align: center;
}

.col-lg-6 {
	text-align: center;
}

.text-section .row {
	margin-top: 12px;
	p {
		color: #000;
	}
}

.drag-drop-csv .row {
	margin-top: 160px;
}

.modal-header h3 {
    margin-left: 170px;
}

.text-field {
	text-align: center;
}

.checkbox-sectoni .col-md-5 {
	margin-top: 12px;
}

.checkbox-sectoni .col-md-7 label {
	margin-left: 200px;
}

.add-btn{
    float: right;
    margin-right: 20px;
}

.download-btn {
    float: right;
    width: 160px;
    background-color: #6d5cae;
    color: #fff;
}